<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raportti myydyistä tauluista</title>
</head>
<body>
<h2>Myydyt taulut</h2>
<hr>
{% load static %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Teoksen nimi</th>
        <th>Omistaja</th>
        <th>Hinta</th>
      </tr>
    </thead>
      <tbody>
      {% for item in myynti %}
          <tr>
            <td>{{ item.nimi }}</td>
            <td>{{ item.omistaja }}</td>
            <td>{{ item.hinta }}</td>
            <td><a href="{% url 'taide:taulu' item.id %}"> Katsele </a>
            </td>

          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
<p>Myynnit yhteensä: {{ myyntitotal.hinta__sum }} €</p>
</body>
</html>