{% extends 'base.html' %}
{% block page_content %}

<head>
    <title>Karo Art</title>
</head>
<style>
    piclist{
        display: grid;
        place-items: center;
    }
</style>

<body>
{% load static %}
    <div class="container-fluid">
        <img src="{% static "images/karo_45.jpg" %}" class="img-fluid">
    </div>
<hr>
     <div class="container">
         <div class="card-columns">
             {% for taulu in view.onsale %}
            <div class="card card-body shadow">
            <a href="{% url 'taide:taulu' taulu.pk %}">
                <img class="rounded img-fluid" src="{% static "images/" %}{{ taulu.kuva }}" data-toggle="tooltip" title='{{ taulu.tarina }}'>
            </a>

            <div class="card card-footer">
                <i>{{ taulu.nimi }}</i>
                <p>{{ taulu.materiaali }}, {{ taulu.koko }} cm</p>
                <p>{{ taulu.hinta }} €</p>
                <small>
                    <a class="nav-link" href="{% url 'taide:maili' taulu.pk %}"> Kiinnostuitko? Jätä yhteystietosi.</a>
                </small>
            </div>
                             </div>
             {% endfor %}
         </div>
     </div>
<hr>
<piclist class="container-fluid">
    <div class="row">
        {% for taulu in object_list %}
            <img src="{% static "images/" %}{{ taulu.kuva }}" class="img-fluid" style="height: 50px">
        {% endfor %}
    </div>
</piclist>
</body>
    <footer class="aligned text-center">© Karo Tapiovaara 2020</footer>
{% endblock %}