{% extends 'base.html' %}
{% block page_content %}

<head>
    <title>Karo Art</title>
</head>

<body>
{% load static %}
    <div class="container-fluid">
        <img src="{% static "images/karo_45.jpg" %}" class="img-fluid">
    </div>
<hr>
     <div class="container">
         <div class="card-columns">
        {% for taulu in object_list %}
            <div class="card card-body shadow">
                <img class="rounded img-fluid" src="{% static "images/" %}{{ taulu.kuva }}" data-toggle="tooltip" title='{{ taulu.tarina }}'>
{#                <a href="{% url 'projektit:detail' proj.id %}" data-toggle="tooltip" title='{{ proj.shortdescription }}'>#}
                <div>
                    <h3 class="card-title">{{ taulu.nimi  }}    <a href="{% url 'taide:printrequest' taulu.pk %}"
                       class="btn btn-outline-info btn-sm">
                        Tulosta tarjous</a></h3>
                </div>
                <p>{{ taulu.materiaali }}, {{ taulu.koko }} cm</p>
                <p>{{ taulu.hinta }} €</p>
                <small>
                    <a class="nav-link" href="{% url 'taide:maili' taulu.pk %}"> Kiinnostuitko? Jätä yhteystietosi.</a>
                </small>
            </div>
        {% endfor %}
         </div>
     </div>
<hr>
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner center shadow">
            <div class="carousel-item active">
                <img src="{% static "images/karo_31.jpg" %}" class="img-fluid">
            </div>
            <div class="carousel-item">
                <img src="{% static "images/karo_32.jpg" %}" class="img-fluid">
            </div>
            <div class="carousel-item">
                <img src="{% static "images/karo_33.jpg" %}" class="img-fluid">
            </div>
        </div>
         <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
</body>
    <footer class="aligned text-center">© Karo Tapiovaara 2020</footer>
{% endblock %}